%section.cta.cta-black#cta-enroll
  .container
    %h3 Le 12 décembre 2015, j'adhère !

    :markdown
      L'utilisation du logiciel de booking Merci Edgar est aujourd'hui gratuite.
      
      Elle sera reservée aux adhérents de [l'association](/association.html) à partir du 12 décembre 2015. 
    
      Le montant de l'adhésion est symbolique : elle est fixée à 20€ par an pour un compte avec un seul utilisateur, 50€/an pour un compte multi-utilisateurs

      [En savoir plus sur l'association](/association.html)
    

    .row-fluid
      .span6.offset3
        = link_to 'http://login.merciedgar.com/fr/users/sign_up' do
          %button.btn.btn-large.btn-danger.btn-block Je m'inscris maintenant !
        
%footer#contact-section.footer
  .container
    .row-fluid
      .span8
        /%a{href: "#thetop"}
        = link_to '/' do
          .logo-ed.logo-footer.edi-ed-logo-typo
          -#= image_tag("multipage/logo-edgar-horiz-typ-white.png")
        %address
          %span.glyphicon.glyphicon-map-marker
          17 rue des corroyés, 78730 Saint-Arnoult-en-Yvelines
         
        
      .span4
        %ul.socials
          %li
            %a{:href => "https://www.facebook.com/pages/Merci-Edgar/164510577033726", :title => "Facebook Merci Edgar", :target => "blank"}
              %i.ico.edi-facebook
          %li
            %a{:href => "https://twitter.com/MerciEdgar", :title => "Twitter Merci Edgar", :target => "blank"}
              %i.ico.edi-twitter
          %li
            %a{:href => "http://vimeo.com/channels/entretiensdedgar", :title => "Vimeo Channel Entretiens d'Edgar", :target => "blank"}
              %i.ico.edi-vimeo
        -#  
          %li    
            %a{:href => "mailto:contact@merciedgar.com", :title => "Mail"}
              %i.ico.edi-mail
              
