---
title: FAQ
layout: my
slogan: Questions courtes, réponses courtes !
description: L'association Merci Edgar a pour objectif de faciliter l'entraide entre artistes. La prochaine étape dans l'évolution de notre logiciel de booking est de mettre dans une seule et même base commune l'ensemble des informations d'ordre publique sur les lieux (nom du lieu, styles programmés, adresse postale). A noter que les contacts directs (téléphone / mail du programmateur) ne seront pour le coup pas partagés. En effet, nous pensons que c'est contre-productif de les rendre publiques.
images:
  - lunionfaitlabase.png
---
.hero-unit.notfullimg#hero-about
  .container
    .thehero
      %h4= current_page.data.slogan 
      = image_tag("multipage/showcase-banner-about.png")
      
      %space
      .row-fluid
        .span6.offset3
          = link_to 'http://login.merciedgar.com/fr/users/sign_up' do
            %button.btn.btn-large.btn-danger.btn-block Je m'inscris maintenant !
      
      
  
    
%space
%section
  .container
    .row-fluid

      .span7
        %b Merci Edgar, c'est quoi ?
        %br
        C'est une association loi 1901 à but non lucratif, qui a comme objectif de faciliter l'entraide entre artistes. Il propose notamment un logiciel de booking.
        %p
        %b Dois-je adhérer à l'association Merci Edgar pour utiliser le logiciel de booking ?
        %br
        Vous pouvez vous inscrire sans être adhérent pour tester Merci Edgar pendant 1 mois. Au-delà d'un mois, si vous souhaitez continuer à utiliser notre logiciel de booking, vous devrez adhérer.
        %p
        %b Quel est l'objectif à moyen terme pour l'association ?
        %br Arriver à mettre en place une base commune de lieux et festivals
        %p
        %b Peut-on déjà accéder à la base commune ?
        %br Non, pas encore. Des développements importants sont nécessaires avant que cette fonctionnalité ne soit disponible. 
        %p

        %b Si j'adhère, les contacts que j'ai déjà saisi peuvent à terme se retrouver dans la base commune ?
        %br Oui. Adhérer à l'association, c'est adhérer au projet de l'association, à savoir mettre en commun nos contacts.
        %p

        %b Je ne souhaite pas adhérer. Mais j'ai utilisé Merci Edgar et saisi des contacts. Puis-je les récupérer ?
        %br Oui. Il est possible d'exporter ses contacts. Vous trouverez 
        %a{href:"https://merciedgar.uservoice.com/knowledgebase/articles/824055-export-de-votre-base-de-contacts", target:'_blank'}ici la marche à suivre
        %p
        
      .span5
        %p
        .img-disc= image_tag("multipage/rugby.png") 

